<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
<footer>
    <br><br><br>
    {% if session['user'] %}
        logged in as {{ session['user'] }}
        <a href="/logout">   [ logout ]    </a>
    {% else %}
        not logged in
    <a href="/login">  [ login ]   </a>
    {% endif %}
</footer>
</html>