{% extends "base.html" %}

{% block title %}
Transactions
{% endblock %}

{% block body %}
<div class="content">
    <h1>Transactions summary</h1>
    {% if transactions|length < 1 %}
    <h4>There are no transactions!</h4>
    <form action="/load" method="POST"><input type="submit" name="load" value="click to load some sample data"></form>
    {% else %}
    <table>
        <tr>
            <th>id</th>
            <th>date</th>
            <th>sender</th>
            <th>amount</th>
            <th>ccy</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.sender }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.ccy }}</td>
            <td><a href="/transactions/{{ transaction.id }}">Details</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
